* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  min-height: 100vh;
  min-width: 100vw;
}
#app {
  display: flex;
  flex-direction: column;
}
.number_text {
  color: #fff;
  font-size: 48px;
  padding-bottom: 20px;
  padding-top: 20vh;
}
.number-container {
  height: 55vh;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 0 100px;
  align-items: center;
  background: #7D6EC6;
}
.number-container:after {
  color: #7D6EC6;
  content: '';
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  border-right: 100vw solid currentColor;
  border-bottom: 4vw solid transparent;
  border-top: 0;
  z-index: 1;
}
.number_input {
  background: #fff;
  height: 48px;
  border-radius: 10px;
  width: 240px;
  padding: 0 30px;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  color: #444;
  flex: none;
}
.typed-cursor {
  display: none;
}
.db-container {
  background: #47a3ca;
  min-height: 45vh;
}
.icon {
  opacity: 0.9;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.icon:nth-child(2) {
  margin-left: 20px;
}
.icon:hover {
  opacity: 1;
}
.handle-container {
  margin-top: 20px;
}
.db-container {
  padding: 80px;
}
.db_number-item {
  display: inline-block;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.9);
  margin: 10px;
  border-radius: 10px;
  color: rgba(0,0,0,0.6);
  line-height: 28px;
  cursor: pointer;
}
.copy-icon--mini {
  line-height: 28px;
}

@media only screen and (max-width: 520px) {
  .number_text {
    font-size: 32px;
  }
  .number_text {
    padding-top: 12vh;
  }
  .db-container {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .db_number-item {
    flex: none;
    height: 38px;
  }
}